@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body{
    font-family: "Poppins", Courier, monospace;
}


.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: normal;
    background-color: rgb(49, 144, 144);
    color: white;
    height: 30px;
    position: fixed;
    padding: 30px;
    /*For top right corner 50%*/
    top: 0;
    right: 0;
    width: 50%;
    /*Makes half circle rounded edge*/
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/*Choosing the children of the navbar for styling*/
.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover{
    background-color: white;
    border-radius: 5px;
    color: rgb(49, 144, 144);
}

@media (max-width: 768px) {
    
}